<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="insertCart">
INSERT
INTO CART
(
    MEM_NO
    , PNO
    , CART_OPT
    , CART_COUNT
)
VALUES
    ( ?
    , ?
    , ?
    , ?
    )
</entry>


<entry key="selectCartList">
SELECT
	    MEM_NO,
	    C.PNO, 
	    CART_OPT, 
	    CART_COUNT, 
		TITLE, 
		AREA,
		S_DATE, 
		E_DATE, 
		A_PRICE, 
		T_PRICE,
		C_PRICE,
		MAIN_IMG,
		SOLDOUT
    FROM CART C
    JOIN PRODUCT P ON (C.PNO = P.PNO)
    WHERE MEM_NO = ?
</entry>

<entry key="deleteCart">
DELETE FROM CART C
WHERE
    MEM_NO = ?
</entry>
</properties>






