<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) count
		  FROM FAQ
		 WHERE STATUS = 'Y'	
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNO, A.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , NICKNAME
		                     , FAQ_TITLE
		                     , FAQ_CONTENT
		                     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
		                     , F_CATEGORY_CODE
		                  FROM FAQ
		                  JOIN MEMBER ON(FAQ_WRITER = MEM_NO)
		                 ORDER
		                    BY FAQ_NO DESC
		                ) A
		        )
		  WHERE RNO BETWEEN ? AND ?
	</entry>

	<entry key="selectFaq">
		SELECT
		       FAQ_NO
		     , NICKNAME
		     , FAQ_TITLE
		     , FAQ_CONTENT
		     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH:MI:SS') "CREATE_DATE"
		     , F_CATEGORY_CODE
		  FROM FAQ
		  JOIN MEMBER ON (FAQ_WRITER = MEM_NO)
		 WHERE FAQ_NO = ?
	</entry>
	
	<entry key="insertFaq">
		INSERT
		  INTO FAQ
		     ( 
		       FAQ_NO
		     , FAQ_WRITER
		     , FAQ_TITLE
		     , FAQ_CONTENT
		     , F_CATEGORY_CODE
		     )
		     VALUES
		     (
		       SEQ_FAQNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="updateFaq">
		UPDATE FAQ
		   SET FAQ_TITLE = ?
		     , FAQ_CONTENT = ?
		     , F_CATEGORY_CODE = ?
		 WHERE FAQ_NO = ?
	</entry>
</properties>