<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		  FROM GUIDE
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNO, A.*
		          FROM (
		                SELECT
		                       GUIDE_NO
		                     , NICKNAME
		                     , GUIDE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
		                     , G.STATUS
		                  FROM GUIDE G
		                  JOIN MEMBER ON(GUIDE_WRITER = MEM_NO)
		                 ORDER
		                    BY GUIDE_NO DESC
		                ) A
		        )
		  WHERE RNO BETWEEN ? AND ?
	</entry>
	
	<entry key="insertGuide">
		INSERT
		  INTO GUIDE
		     ( 
		       GUIDE_NO
		     , GUIDE_WRITER
		     , GUIDE_TITLE
		     , GUIDE_CONTENT
		     , STATUS
		     )
		     VALUES
		     (
		       SEQ_GNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
			  INTO ATTACHMENT
			     ( FILE_NO
			     , REF_B
			     , REF_BNO
			     , ORIGIN_NAME
			     , CHANGE_NAME
			     , FILE_PATH
			     )
			     VALUES
			     (
			       SEQ_ANO.NEXTVAL
			     , 'GUIDE'
			     , SEQ_GNO.CURRVAL
			     , ?
			     , ?
			     , ?
			     )
	</entry>
	
	<entry key="insertChangeStatus">
		UPDATE GUIDE
		   SET STATUS = 'N'
		 WHERE GUIDE_NO != (SELECT LAST_NUMBER
		                      FROM USER_SEQUENCES
		                     WHERE SEQUENCE_NAME = 'SEQ_GNO')-1
	</entry>
	
	<entry key="selectGuide">
		SELECT 
		       GUIDE_NO
		     , GUIDE_TITLE
		     , GUIDE_CONTENT
		  FROM GUIDE
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectAttachment">
		SELECT 
		       CHANGE_NAME
		     , FILE_PATH
		  FROM (SELECT
		               REF_BNO
		             , CHANGE_NAME
				     , FILE_PATH
				  FROM ATTACHMENT
				 WHERE REF_B = 'GUIDE'
		        ) A
		  JOIN GUIDE G ON(REF_BNO = GUIDE_NO)
		 WHERE G.STATUS = 'Y'
	</entry>
	
	<entry key="adminSelectGuide">
		SELECT 
		       GUIDE_NO
		     , GUIDE_TITLE
		     , GUIDE_CONTENT
		     , STATUS
		  FROM GUIDE
		 WHERE GUIDE_NO = ?
	</entry>
	
	<entry key="adminSelectAttachment">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_B = 'GUIDE'
		   AND REF_BNO = ?
	</entry>
	
	<entry key="updateGuide">
		UPDATE GUIDE
		   SET GUIDE_TITLE = ?
		     , GUIDE_CONTENT = ?
		     , STATUS = ?
		 WHERE GUIDE_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		   SET ORIGIN_NAME = ?
		     , CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT 
		  INTO ATTACHMENT
		     (  
		       FILE_NO
		     , REF_B
		     , REF_BNO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		     )
		     VALUES
		     (
		       SEQ_ANO.NEXTVAL
		     , 'GUIDE'
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="updateChangeStatus">
		UPDATE GUIDE
		   SET STATUS = 'N'
		 WHERE GUIDE_NO != ?
	</entry>
	
</properties>