<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- new전시 조회 -->
	<entry key="selectNewPorduct">
		SELECT *
	  	FROM (
	        SELECT ROWNUM RNUM, A.*
		  	  FROM (
		             SELECT 
	                       PNO
						 , TITLE
						 , REGION
						 , AREA
						 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
						 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
						 , MAIN_IMG
	                   FROM PRODUCT
			           <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
					  ORDER BY ENROLL_DATE DESC
				 ) A
			)
	WHERE RNUM BETWEEN 1 AND 4	
	</entry>

	<!-- 오픈예정전시 조회 -->
	<entry key="selectPrePorduct">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
			  	  FROM (
			             SELECT 
		                       PNO
							 , TITLE
							 , REGION
							 , AREA
							 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
							 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
							 , MAIN_IMG
		                   FROM PRODUCT
				           <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE))) < 0 ]]>
				           AND SOLDOUT = 'N'
						  ORDER BY S_DATE DESC
					 ) A
				)
		 WHERE RNUM BETWEEN 1 AND 4
	</entry>
	
	
	
</properties>