<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginMember">
		SELECT 
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , NICKNAME
		     , EMAIL
		     , PHONE
		     , BIRTH
		     , ENROLL_DATE
		     , MEM_TYPE
		     , STATUS
		     , BLACK_CONTENT
		     , BLACK_DATE
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
		   AND STATUS = 'N'
	</entry>
	
	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		  (
		    MEM_NO
		  , MEM_ID
		  , MEM_PWD
		  , MEM_NAME
		  , NICKNAME
		  , EMAIL
		  , PHONE
		  , BIRTH
		  )
		  VALUES
		  (
		    SEQ_MEMNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="idCheck">
		SELECT
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE MEM_ID = ?
	</entry>
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM MEMBER
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
		                       MEM_NO
						     , MEM_ID
						     , MEM_NAME
						     , NICKNAME
						     , EMAIL
						     , PHONE
						     , TO_CHAR(BIRTH,'YYYY-MM-DD') "BIRTH"
						     , TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE"
						     , STATUS
						  FROM MEMBER
						  ORDER
				          BY MEM_NO DESC
		               ) A 
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	

</properties>