<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 적립금 내역 -->
	<entry key="pointList">
		SELECT
		       POI_DATE
		     , POI_POINT
		     , POI_CONTENT
		     , ORDER_NO
		     , MEM_ID
		  FROM POINT
		  JOIN MEMBER USING(MEM_NO) 
		 WHERE MEM_ID = ?
	</entry>
	
	<!-- qna 내역 (상품o) -->
	<entry key="memberQnaList">
		SELECT
		       TITLE
		     , NICKNAME
		     , Q_TITLE
		     , Q_CONTENT
		     , CREATE_DATE
		     , Q_CATEGORY_CODE
		     , A_CONTENT
		     , A_CREATE_DATE
		     , MEM_NO2
		  FROM QNA Q
		  JOIN PRODUCT USING(PNO)
		  JOIN MEMBER USING(MEM_NO)
		 WHERE MEM_ID = ?
		   AND Q.STATUS = 'Y'
	</entry>
	
	<!-- qna 내역 (상품x) -->
	<entry key="memberNoQnaList">
		SELECT
		       PNO  
		     , Q_TITLE
		     , Q_CONTENT
		     , CREATE_DATE
		     , Q_CATEGORY_CODE
		     , MEM_NO2
		  FROM QNA Q
		  JOIN MEMBER USING(MEM_NO)
		 WHERE MEM_ID = ?
		   AND Q.STATUS = 'Y'
	</entry>
	<!-- 회원정보 수정 -->
	<entry key="updateMember">
		UPDATE MEMBER
		   SET MEM_PWD = ?
		   	 , MEM_NAME = ?
		     , NICKNAME = ?
		     , EMAIL = ?
		     , PHONE = ?
		     , BIRTH = ?
		 WHERE MEM_ID = ? 
	</entry>

	<!-- 회원정보 조회 -->
	<entry key="selectMember">
		SELECT 
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , NICKNAME
		     , EMAIL
		     , PHONE
		     , BIRTH
		     , ENROLL_DATE
		     , MEM_TYPE
		     , STATUS
		     , BLACK_CONTENT
		     , BLACK_DATE
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND STATUS = 'N'
	</entry>
	
	<!-- 회원탈퇴(상태변경) -->
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'Y'
	   	 WHERE MEM_ID = ?
	</entry>

</properties>