<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectOrderList">
SELECT 
 TITLE 
 , AREA
 , S_DATE
 , E_DATE
 , CART_OPT
 , CART_COUNT
 , A_PRICE
 , T_PRICE
 , C_PRICE
 FROM CART C
 JOIN PRODUCT P ON (C.PNO = P.PNO)
</entry>


</properties>
