<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectOrderManage">
SELECT
		    P.ORDER_NO
		   ,TOTAL_PRICE
		   ,PAY_PRICE
		   ,ORDER_DATE
		   ,P.PNO
		   ,ORDER_OPT
		   ,ORDER_NAME
		   ,ORDER_COUNT
		   ,TITLE
           ,ORDER_STATUS
           ,PAY_OPT
           ,MAIN_IMG
FROM "ORDER_P" P
JOIN "ORDER" O ON (O.ORDER_NO = P.ORDER_NO)
JOIN PRODUCT ON (PRODUCT.PNO = P.PNO)
JOIN PAY ON (PAY.ORDER_NO = P.ORDER_NO)
WHERE O.ORDER_DATE BETWEEN ? AND ?
ORDER BY ORDER_DATE DESC
</entry>


<entry key="updateOrderCancel">
UPDATE
    ORDER_P
SET ORDER_STATUS = 'CC'
WHERE ORDER_NO = ?
</entry>

</properties>






