<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectOrderList">
SELECT 
  TITLE 
 , AREA
 , S_DATE
 , E_DATE
 , CART_OPT
 , CART_COUNT
 , A_PRICE
 , T_PRICE
 , C_PRICE
 , MEM_NAME
 , PHONE
 , EMAIL 
 , C.MEM_NO
 , P.MAIN_IMG
 , SUM(POI_POINT) POI_POINT
 FROM CART C
 JOIN PRODUCT P ON (C.PNO = P.PNO)
 JOIN "MEMBER" M ON (C.MEM_NO = M.MEM_NO)
 JOIN POINT PP ON(PP.MEM_NO = C.MEM_NO)
 WHERE C.MEM_NO = ?
 GROUP BY TITLE, AREA, S_DATE, E_DATE, CART_OPT, 
 CART_COUNT, A_PRICE, T_PRICE, C_PRICE, MEM_NAME, 
 PHONE, EMAIL, C.MEM_NO, P.MAIN_IMG

</entry>

<entry key="selectOrder">
SELECT
        PAY_NO,
        ORDER_NO,
        PAY_OPT,
        PAY_DATE,
        PAY_PRICE,
        TITLE,
        M.MEM_NAME,
        M.MEM_NO
FROM "ORDER" O
JOIN PAY P ON (O.ORDER_NO = P.ORDER_NO)
JOIN ORDER_P PP ON (O.ORDER_NO = PP.ORDER_NO)
JOIN PRODUCT PPP ON (PP.PNO = PPP.PNO)
JOIN MEMBER M ON (M.MEM_NO = O.MEM_NO)
WHERE O.ORDER_NO = ?
</entry>


</properties>
