<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectOrderManage">
SELECT
    O.ORDER_NO
    ,TOTAL_PRICE
    ,EST_POINT
    ,FINAL_PRICE
    ,ORDER_DATE
    ,MEM_NO
    ,ORDER_NAME
    ,PNO
    ,ORDER_COUNT
    ,PRICE
    ,ORDER_STATUS
 FROM "ORDER" O
 JOIN ORDER_P P ON (O.ORDER_NO = P.ORDER_NO)
 ORDER BY ORDER_DATE DESC
    
</entry>


</properties>






