<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 무료 전시 -->	
<entry key="selectFreeList">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE A_PRICE = 0
   AND SOLDOUT = 'N'
</entry>
	

<!-- 이달의 전시 -->
<entry key="selectMonthList">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE SUBSTR(S_DATE, 6, 2) = TO_CHAR(SYSDATE, 'MM')
   AND SOLDOUT = 'N'
</entry>


<!-- 오픈예정 -->
<entry key="selectPreList">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE  
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) < 0 ]]>
   AND SOLDOUT = 'N'
</entry>



	
	
</properties>