<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
<entry key="selectFreeList">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , S_DATE
	 , E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE A_PRICE = 0
   AND SOLDOUT = 'N'
</entry>
	
	
	
</properties>