<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		  FROM QNA
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNO, A.*
		          FROM (
		                SELECT 
		                       Q_NO
		                     , MEM_NO
		                     , Q_WRITER
		                     , SECRET
		                     , Q_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
		                     , Q_CATEGORY_CODE
		                     , A_CONTENT
		                  FROM QNA
		                 WHERE STATUS = 'Y'
		                 ORDER BY Q_NO DESC
		                 ) A
		        )
		  WHERE RNO BETWEEN ? AND ?	
	</entry>
	
	<entry key="selectQnA">
		SELECT
		       Q_NO
		     , TITLE
		     , Q_WRITER
		     , SECRET
		     , Q_TITLE
		     , Q_CONTENT
		     , CREATE_DATE
		     , Q_CATEGORY_CODE
		     , A_CONTENT
		     , A_CREATE_DATE
		     , NICKNAME
		     , MAIN_IMG
		  FROM QNA
		  LEFT JOIN PRODUCT USING (PNO)
		  LEFT JOIN MEMBER M ON (MEM_NO2 = M.MEM_NO)
		 WHERE Q_NO = ?
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_B = 'QnA'
		   AND REF_BNO = ?
	</entry>
	
	<entry key="insertAnswer">
		UPDATE QNA
		   SET A_CONTENT = ?
		     , A_CREATE_DATE = SYSDATE
		     , MEM_NO2 = ?
		 WHERE Q_NO = ?
	</entry>
	
	<entry key="enrollFormProductSearch">
		SELECT
			   PNO
		     , TITLE
		     , MAIN_IMG
		  FROM PRODUCT
		 WHERE TITLE LIKE '%'||?||'%'
	</entry>
	
	<entry key="enrollFormProductSelectResult">
		SELECT
		       PNO
		     , TITLE
		     , MAIN_IMG
		  FROM PRODUCT
		 WHERE PNO = ?
	</entry>
	
	<entry key="nonMemberInsertQuestion">
		INSERT 
		  INTO QNA
		     (  
		       Q_NO
		     , PNO
		     , Q_WRITER
		     , Q_PWD
		     , SECRET
		     , Q_TITLE
		     , Q_CONTENT
		     , Q_CATEGORY_CODE
		     )
		     VALUES
		     (
		       SEQ_QNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="memberInsertQuestion">
		INSERT 
		  INTO QNA
		     (  
		       Q_NO
		     , PNO
		     , MEM_NO
		     , Q_WRITER
		     , SECRET
		     , Q_TITLE
		     , Q_CONTENT
		     , Q_CATEGORY_CODE
		     )
		     VALUES
		     (
		       SEQ_QNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
			  INTO ATTACHMENT
			     ( FILE_NO
			     , REF_B
			     , REF_BNO
			     , ORIGIN_NAME
			     , CHANGE_NAME
			     , FILE_PATH
			     )
			     VALUES
			     (
			       SEQ_ANO.NEXTVAL
			     , 'QnA'
			     , SEQ_QNO.CURRVAL
			     , ?
			     , ?
			     , ?
			     )
	</entry>
</properties>
