<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 페이징바 -->
<entry key="selectListCount">
 SELECT
     COUNT(*) count
   FROM REVIEW
  WHERE DELETE_STATUS = 'N'
</entry>

<entry key="selectList">
  SELECT *
	FROM (
		  SELECT ROWNUM RNUM, RR.*
			    FROM (
			SELECT
			       TITLE
			     , MAIN_IMG
			     , RV_NO
			     , NICKNAME
			     , ORDER_NO
			     , REVIEW_TITLE
			     , REVIEW_CONTENT
			     , TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD') REVIEW_DATE
			     , REVIEW_STAR
			     , REVIEW_VIEW
			  FROM REVIEW   
			  JOIN ORDER_P USING (ORDER_NO)
			  JOIN PRODUCT USING (PNO)
			  JOIN MEMBER USING (MEM_NO)
			  WHERE DELETE_STATUS = 'N'
			) RR
		)
WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReview">
SELECT 
       TITLE
     , MAIN_IMG
     , RV_NO
     , NICKNAME
     , ORDER_NO
     , REVIEW_TITLE
     , REVIEW_CONTENT
     , TO_CHAR(REVIEW_DATE, 'YYYY-MM-DD') REVIEW_DATE
     , REVIEW_STAR
     , REVIEW_VIEW
  FROM REVIEW   
  JOIN ORDER_P USING (ORDER_NO)
  JOIN PRODUCT USING (PNO)
  JOIN MEMBER USING (MEM_NO)
 WHERE RV_NO = ?
</entry>
	
	
<entry key="insertReview">
INSERT 
  INTO REVIEW
  (
    RV_NO
  , MEM_NO
  , ORDER_NO
  , REVIEW_TITLE
  , REVIEW_CONTENT
  , REVIEW_DATE
  , REVIEW_STAR
  , REVIEW_VIEW
  )
VALUES
  (
     SEQ_RVNO
   , ?
   , ?
   , ?
   , ?
   , DEFAULT
   , ?
   , DEFAULT
  )
</entry>


<entry key="increaseCount">
	UPDATE
	       REVIEW
	   SET REVIEW_VIEW = REVIEW_VIEW+1
	 WHERE RV_NO = ?
	   AND DELETE_STATUS = 'N'
</entry>




<!-- 관리자단 -->
<!-- 리뷰 전체 갯수 -->
<entry key="countReview">
 SELECT
     COUNT(*) count
   FROM REVIEW
</entry>


<!-- 리뷰 리스트로 뽑기 -->
<entry key="selectAllList">
SELECT *
  FROM (
  		SELECT ROWNUM RNUM, A.*
  		  FROM (
                SELECT 
                       RV_NO
                     , MEM_ID
                     , REVIEW_TITLE
                     , REVIEW_DATE
                     , REVIEW_STAR
                     , DELETE_STATUS
                  FROM REVIEW   
                  JOIN MEMBER USING (MEM_NO)
                 ORDER BY 1 DESC
			 ) A
		 )
 WHERE RNUM BETWEEN ? AND ?
</entry>


<!-- 리뷰 상세보기 -->
<entry key="detailReview">
SELECT 
       RV_NO
     , MEM_NO
     , MEM_ID
     , ORDER_NO
     , REVIEW_TITLE
     , REVIEW_CONTENT
     , REVIEW_DATE
     , REVIEW_STAR
     , REVIEW_VIEW
     , DELETE_STATUS
  FROM REVIEW
  JOIN MEMBER USING (MEM_NO)
 WHERE RV_NO=?
</entry>

<entry key="deleteReview">
UPDATE REVIEW
   SET DELETE_STATUS = 'Y'
 WHERE RV_NO = ?
</entry>
	
</properties>