<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectSalesManage">
SELECT
    P.ORDER_NO
   ,TOTAL_PRICE
   ,FINAL_PRICE
   ,ORDER_DATE
   ,P.PNO
   ,ORDER_OPT
   ,ORDER_COUNT
   ,SOLDOUT
   ,TITLE
   ,S_DATE
   ,E_DATE
 FROM "ORDER_P" P
 JOIN "ORDER" O ON (O.ORDER_NO = P.ORDER_NO)
 JOIN PRODUCT ON (PRODUCT.PNO = P.PNO)
 ORDER BY P.ORDER_COUNT DESC
</entry>

<entry key="selectSalesDay">
SELECT
	    ORDER_DATE    
	   ,ORDER_COUNT
	   ,P.ORDER_STATUS
	   ,TOTAL_PRICE
	   ,FINAL_PRICE
	 FROM "ORDER_P" P
	 JOIN "ORDER" O ON (O.ORDER_NO = P.ORDER_NO)
	 JOIN PRODUCT ON (PRODUCT.PNO = P.PNO)
	 WHERE O.ORDER_DATE BETWEEN '?' AND '?'
	 ORDER BY P.ORDER_COUNT DESC
</entry>

</properties>