<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<!-- 각 화면 상품 정렬 기준 SQL -->

<!-- 무료전시 상품정렬 -->
<!-- 오픈날짜정렬 -->
<entry key="FreeOpenDate">
SELECT 
  	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE A_PRICE = 0
   AND SOLDOUT = 'N'
 ORDER BY S_DATE
</entry>


<!-- 종료날짜정렬 -->
<entry key="FreeEndDate">
SELECT
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE A_PRICE = 0
   AND SOLDOUT = 'N'
 ORDER BY E_DATE
</entry>



<!-- 진행중 전시 상품정렬 -->
<!-- 오픈날짜정렬 -->
<entry key="OpenDate">
SELECT 
  	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND SOLDOUT = 'N'
 ORDER BY S_DATE
</entry>


<!-- 종료날짜정렬 -->
<entry key="EndDate">
SELECT
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND SOLDOUT = 'N'
 ORDER BY E_DATE
</entry>


<!-- 높은가격정렬 -->
<entry key="HighPrice">
SELECT 
  	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND SOLDOUT = 'N'
 ORDER BY A_PRICE DESC
</entry>


<!-- 낮은가격정렬 -->
<entry key="LowPrice">
SELECT 
  	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
  AND SOLDOUT = 'N'
ORDER BY A_PRICE
</entry>


<!-- 별점순 -->
<entry  key="star">
SELECT DISTINCT
  	   PNO
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , MAIN_IMG
     , A.*
  FROM (SELECT TITLE, ROUND(AVG(REVIEW_STAR), 1) AS REVIEW_STAR
          FROM PRODUCT
          JOIN "ORDER_P" USING (PNO)
          JOIN REVIEW USING (ORDER_NO)
         GROUP BY TITLE) A
  JOIN PRODUCT P ON (P.TITLE = A.TITLE)
  JOIN "ORDER_P" O USING (PNO)
  JOIN REVIEW R USING (ORDER_NO)
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
 ORDER BY A.REVIEW_STAR DESC
</entry>




<!-- 오픈예정전시 -->
<!-- 오픈날짜정렬 -->
<entry key="OpenPre">
SELECT
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) < 0 ]]>
   AND SOLDOUT = 'N'
 ORDER BY S_DATE
</entry>

<!-- 높은가격정렬 -->
<entry key="HighPre">
SELECT 
  	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) < 0 ]]>
   AND SOLDOUT = 'N'
 ORDER BY A_PRICE DESC
</entry>

<!-- 낮은가격정렬 -->
<entry key="LowPre">
SELECT 
  	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) < 0 ]]>
  AND SOLDOUT = 'N'
ORDER BY A_PRICE
</entry>





<!-- 이달의 전시 -->
<!-- 높은가격정렬 -->
<entry key="MonthHigh">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE SUBSTR(S_DATE, 5, 2) = TO_CHAR(SYSDATE, 'MM')
   AND SOLDOUT = 'N'
ORDER BY A_PRICE DESC

</entry>

<!-- 낮은가격정렬 -->
<entry key="MonthLow">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE SUBSTR(S_DATE, 5, 2) = TO_CHAR(SYSDATE, 'MM')
   AND SOLDOUT = 'N'
ORDER BY A_PRICE 
</entry>

<!-- 오픈날짜정렬 -->
<entry key="MonthOpen">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE SUBSTR(S_DATE, 5, 2) = TO_CHAR(SYSDATE, 'MM')
   AND SOLDOUT = 'N'
ORDER BY S_DATE
</entry>

<!-- 마감날짜정렬 -->
<entry key="MonthEnd">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE SUBSTR(S_DATE, 5, 2) = TO_CHAR(SYSDATE, 'MM')
   AND SOLDOUT = 'N'
ORDER BY E_DATE
</entry>

<!-- 별점순 -->
<entry  key="MonthStar">
SELECT DISTINCT
  	   PNO
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , MAIN_IMG
     , A.*
  FROM (SELECT TITLE, ROUND(AVG(REVIEW_STAR), 1) AS REVIEW_STAR
          FROM PRODUCT
          JOIN "ORDER_P" USING (PNO)
          JOIN REVIEW USING (ORDER_NO)
         GROUP BY TITLE) A
  JOIN PRODUCT P ON (P.TITLE = A.TITLE)
  JOIN "ORDER_P" O USING (PNO)
  JOIN REVIEW R USING (ORDER_NO)
 WHERE SUBSTR(S_DATE, 5, 2) = TO_CHAR(SYSDATE, 'MM')
 ORDER BY A.REVIEW_STAR DESC
</entry>



<!-- 월간 베스트 전시 -->
<entry key="bestMonth">
SELECT *
  FROM (
  		SELECT ROWNUM RNUM, A.*
  		  FROM ( 
                SELECT PNO, TITLE, AREA, S_DATE, E_DATE, COUNT, MAIN_IMG
                  FROM (SELECT 
                               PNO
                             , SUM(ORDER_COUNT) COUNT
                          FROM ORDER_P
                          JOIN "ORDER" USING (ORDER_NO)
                          <![CDATA[WHERE FLOOR(SYSDATE - TO_DATE(ORDER_DATE)) <= 31
                           AND FLOOR(SYSDATE - TO_DATE(ORDER_DATE)) >= 0]]>
                          GROUP BY PNO
                          ORDER BY COUNT DESC)
                  JOIN PRODUCT USING (PNO)
                  WHERE SOLDOUT = 'N'
			 ) A
		 )
</entry>


	
	
</properties>