<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 전체 전시 갯수 -->
<entry key="selectProCount">
SELECT COUNT(*) COUNT
  FROM PRODUCT
</entry>


<!-- 전체 전시 목록 -->
<entry key="selectAllList">
SELECT *
  FROM (
  		SELECT ROWNUM RNUM, A.*
  		  FROM (
                SELECT 
                       PNO
                     , TO_CHAR(ENROLL_DATE, 'RRRR.MM.DD') ENROLL_DATE
                     , TITLE
                     , REGION
                     , AREA
                     , AGE
                     , TIME
                     , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
                     , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
                     , SOLDOUT
                  FROM PRODUCT
                 ORDER BY 1 
			 ) A
		 )
 WHERE RNUM BETWEEN ? AND ?
</entry>



<!-- 오픈 예정 전시 갯수 -->
<entry key="selectPreCount">
SELECT COUNT(*) COUNT
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) < 0 ]]>
</entry>

<!-- 오픈 예정 전시 목록 -->
<entry key="selectPreList">
SELECT *
  FROM (
        SELECT ROWNUM RNUM, A.*
	  	  FROM (
	             SELECT 
                        PNO
                      , TO_CHAR(ENROLL_DATE, 'RRRR.MM.DD') ENROLL_DATE
                      , TITLE
                      , REGION
                      , AREA
                      , AGE
                      , TIME
                      , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
                      , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
                      , SOLDOUT
                   FROM PRODUCT
		           <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) < 0 ]]>
				  ORDER BY 1 
			 ) A
		)
 WHERE RNUM BETWEEN ? AND ?
</entry>



<!-- 진행중 전시 갯수 -->
<entry key="selectIngCount">
SELECT COUNT(*) COUNT
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
</entry>

<!-- 진행중 전시 목록 -->
<entry key="selectIngList">
SELECT *
  FROM (
        SELECT ROWNUM RNUM, A.*
	  	  FROM (
	             SELECT 
                        PNO
                      , TO_CHAR(ENROLL_DATE, 'RRRR.MM.DD') ENROLL_DATE
                      , TITLE
                      , REGION
                      , AREA
                      , AGE
                      , TIME
                      , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
                      , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
                      , SOLDOUT
                   FROM PRODUCT
		           <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
				  ORDER BY 1 
			 ) A
		)
 WHERE RNUM BETWEEN ? AND ?
</entry>


<!-- 전시등록 -->
<!-- 1) Product(부모)에 INSERT -->
<entry key="insertProduct">
INSERT 
  INTO PRODUCT
  (
    PNO
  , ENROLL_DATE
  , TITLE
  , REGION
  , AGE
  , AREA
  , S_DATE
  , E_DATE
  , TIME
  , A_PRICE
  , T_PRICE
  , C_PRICE
  , MAIN_IMG
  , DETAIL_IMG
  , ETC
  , SOLDOUT
  )
VALUES
  (
    SEQ_RNO.NEXTVAL
  , DEFAULT
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , ?
  , DEFAULT
  )
  </entry>

<!-- 2) ATTACHMENT(자식) -->
<entry key="insertAttachment"> 
INSERT 
  INTO ATTACHMENT
  (
    FILE_NO
  , REF_B
  , REF_BNO
  , ORIGIN_NAME
  , CHANGE_NAME
  , FILE_PATH
  , UPLOAD_DATE
  , STATUS
  )
VALUES
  (
    SEQ_FNO.NEXTVAL
  , '상품등록'
  , SEQ_PNO.CURRVAL   <!-- 마지막 NEXTVAL의 값을 가져옴 --> 
  , ?
  , ?
  , ?
  , DEFAULT
  , DEFAULT
  )
</entry>
	
	
</properties>