<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 무료 전시 -->	
<entry key="selectFreeList">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 WHERE A_PRICE = 0
   AND SOLDOUT = 'N'
</entry>
	

<!-- 이달의 전시 -->
<entry key="selectMonthList">
SELECT 
      PNO
	, TITLE
	, REGION
	, AGE
	, AREA
	, TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	, TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	, TIME
	, MAIN_IMG
	, DETAIL_IMG
	, ETC
 FROM PRODUCT
WHERE SUBSTR(S_DATE, 5, 2) = TO_CHAR(SYSDATE, 'MM')
  AND SOLDOUT = 'N'
	ORDER BY 1 DESC
</entry>


<!-- 오픈예정 -->
<entry key="selectPreList">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE))) < 0 ]]>
   AND SOLDOUT = 'N'
 ORDER BY 1 DESC
</entry>


<!-- 진행중 -->
<entry key="selectIngList">
SELECT *
  FROM (
        SELECT ROWNUM RNUM, A.*
	  	  FROM (
	             SELECT 
                       PNO
					 , TITLE
					 , REGION
					 , AGE
					 , AREA
					 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
					 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
					 , TIME
					 , MAIN_IMG
					 , DETAIL_IMG
					 , ETC
                   FROM PRODUCT
		           <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
				    AND SOLDOUT = 'N'
				  ORDER BY 1 DESC
			 ) A
		)
WHERE RNUM BETWEEN ? AND ?
</entry>


<!-- 지역별 전시 = 전시 전체 조회-->
<entry key="selectRegionList">
SELECT 
	   PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND SOLDOUT = 'N'
ORDER BY TITLE
</entry>


<!-- 지역별 전시 : 경기/인천-->
<entry key="selectKIregionList">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND REGION = '경기/인천'
   AND SOLDOUT = 'N'
ORDER BY TITLE
</entry>


<!-- 지역별 전시 : 강원/충청-->
<entry key="selectKCregionList">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND REGION = '강원/충청'
   AND SOLDOUT = 'N'
ORDER BY TITLE
</entry>


<!-- 지역별 전시 : 전라도-->
<entry key="selectJRregionList">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND REGION = '전라도'
   AND SOLDOUT = 'N'
ORDER BY TITLE
</entry>


<!-- 지역별 전시 : 경상도-->
<entry key="selectKSregionList">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND REGION = '경상도'
   AND SOLDOUT = 'N'
ORDER BY TITLE
</entry>


<!-- 지역별 전시 : 제주도-->
<entry key="selectJJregionList">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND REGION = '제주도'
   AND SOLDOUT = 'N'
ORDER BY TITLE
</entry>


<!-- 지역별 전시 : 서울-->
<entry key="selectSEregionList">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
 <![CDATA[WHERE FLOOR(MONTHS_BETWEEN(SYSDATE, TO_DATE(S_DATE, 'RRRRMMDD'))) >= 0 ]]>
   AND REGION = '서울'
   AND SOLDOUT = 'N'
ORDER BY TITLE
</entry>



<!-- 별점 -->
<entry key="haveStar">
SELECT ROUND(AVG(REVIEW_STAR), 1) AS STAR
  FROM PRODUCT
  JOIN "ORDER_P" O USING (PNO)
  JOIN REVIEW R USING (ORDER_NO)
 WHERE PNO = ?
</entry>

<!-- 디테일 -->
<entry key="selectDetailList">
SELECT 
	   PNO
	 , ENROLL_DATE
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , A_PRICE
     , T_PRICE
     , C_PRICE
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
	 , SOLDOUT
  FROM PRODUCT
 WHERE PNO = ?
</entry>


<!-- 상세정보 이미지 -->
<entry key="selectDetailImg">
SELECT
	   DETAIL_IMG
  FROM PRODUCT
 WHERE PNO = ?	  
</entry>




<!-- 전시 검색 -->
<!-- 오늘 / 20000 미만 가격 -->
<entry key="SearchListToday">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE TO_DATE(S_DATE, 'RRRR/MM/DD') - SYSDATE <= 0 ]]>
   AND REGION = ?
<![CDATA[AND A_PRICE <= ?]]>
   AND AGE = ?
   AND SOLDOUT = 'N' 
ORDER BY TITLE
</entry>

<!-- 오늘 / 20000 이상 가격 -->
<entry key="SearchListToday2">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE TO_DATE(S_DATE, 'RRRR/MM/DD') - SYSDATE <= 0 ]]>
   AND REGION = ?
<![CDATA[AND A_PRICE >= ?]]>
   AND AGE = ?
   AND SOLDOUT = 'N' 
ORDER BY TITLE
</entry>


<entry key="SearchListWeek">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE TO_DATE(E_DATE, 'RRRR/MM/DD') - SYSDATE <= 7 ]]>
   AND REGION = ?
<![CDATA[AND A_PRICE <= ?]]>
   AND AGE = ?
   AND SOLDOUT = 'N' 
ORDER BY TITLE
</entry>

<entry key="SearchListWeek2">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE TO_DATE(E_DATE, 'RRRR/MM/DD') - SYSDATE <= 7 ]]>
   AND REGION = ?
<![CDATA[AND A_PRICE >= ?]]>
   AND AGE = ?
   AND SOLDOUT = 'N' 
ORDER BY TITLE
</entry>


<entry key="SearchListMonth">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE TO_DATE(E_DATE, 'RRRR/MM/DD') - SYSDATE <= 30 ]]>
   AND REGION = ?
<![CDATA[AND A_PRICE <= ?]]>
   AND AGE = ?
   AND SOLDOUT = 'N' 
ORDER BY TITLE
</entry>

<entry key="SearchListMonth2">
SELECT 
       PNO
	 , TITLE
	 , REGION
	 , AGE
	 , AREA
	 , TO_CHAR(TO_DATE(S_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') S_DATE
	 , TO_CHAR(TO_DATE(E_DATE, 'RRRRMMDD'), 'RRRR.MM.DD') E_DATE
	 , TIME
	 , MAIN_IMG
	 , DETAIL_IMG
	 , ETC
  FROM PRODUCT
<![CDATA[WHERE TO_DATE(E_DATE, 'RRRR/MM/DD') - SYSDATE <= 30 ]]>
   AND REGION = ?
<![CDATA[AND A_PRICE >= ?]]>
   AND AGE = ?
   AND SOLDOUT = 'N' 
ORDER BY TITLE
</entry>
<!-- 전시 검색 -->



<!-- 상세정보 문의내역 -->
<entry key="qnaList">
SELECT DISTINCT 
       PNO
     , Q_CATEGORY_CODE
     , Q_TITLE
     , Q_WRITER
     , CREATE_DATE
 FROM QNA
 JOIN PRODUCT USING (PNO)
WHERE PNO = ?
</entry>

	
</properties>